<?php

$orderItems = $this->getItems();
$brandId = $this->getBrandId();

foreach ($orderItems as $key => $item) {
	echo '<tr class="duel-item-row"><td>';
    echo '<p class="duel-para product-thumbnail">'
    . '<img class="duel-product-image" src="'
    . $item['thumbnail'] . '"></p>';
    echo '<p class="duel-para product-name">'
    . $item['name'] . '</p>';
    $uploadLink = '<a href="https://duel.me/p/' . $brandId . '/'
    . $item['sku'] . '">' . $item['ctaText'] . '</a>';
    echo '<p class="duel-para product-link">' . $uploadLink . '</p>';
    echo '</tr></td>';
}
