<script async src="https://vision.duel.me/loader.js"></script>
<script>
    window.DuelVision = window.DuelVision || function(o) {
        (DuelVision.s = DuelVision.s || []).push(o)
    };
</script>
<div id="duelvision-component"></div>
<script>
    // get the gallery information from the block file.
    var duelGalleryJSON = '<?php echo $this->getGallery() ?>';
    var duelGallery = JSON.parse(duelGalleryJSON);
    
    // if gallery information exists and displaying galleries is active in the config, build an object representing the gallery appearance attributes.
    if (duelGallery && duelGallery.active == 1) {
        var duelPosition = parseInt(duelGallery.position);
        var duelSelector = duelGallery.selector;
        var duelDefaultPosition = parseInt(duelGallery.default_position);
        var duelDefaultSelector = duelGallery.default_selector;
        var options = {
          product: duelGallery.product,
          sort: 'created',
          color: duelGallery.color,
          backgroundColor: duelGallery.background,
          layoutRules: duelGallery.layoutRules,
          origin: 'https://vision.duel.me'
        }
        console.log(options);
    // position the gallery by custom css selector if specified. If not, position gallery at the start or end of an element chosen by the user in the dashboard, or position the gallery after ".product-shop" as a fallback.
		if (duelSelector && document.querySelector(duelSelector)) {
        options.appendTo = duelSelector;
		} else if (duelPosition && duelPosition > 0 && StandardPagePositions(duelPosition)) {
			options.container = StandardPagePositions(duelPosition);
			options.prepend = (duelPosition == 2) ? true : false;
		} else if (duelDefaultSelector && document.querySelector(duelDefaultSelector)) {
			options.appendTo = duelDefaultSelector
		} else if (duelDefaultPosition && duelDefaultPosition > 0 && StandardPagePositions(duelDefaultPosition)) {
			options.container = StandardPagePositions(duelDefaultPosition);
			options.prepend = (duelDefaultPosition == 2) ? true : false;
		} else if (document.querySelector('.product-shop')) {
			options.appendTo = '.product-shop';
		}
    // call the DuelVision api, which renders the gallery on the page with the above attributes.
		DuelVision(options);
    }
   
    function StandardPagePositions(option) {
      var container = null;
      switch (option) {
            case 1:
                if (document.querySelector('.add-to-cart-wrapper')) {
                    container = '.add-to-cart-wrapper';
                }
                break;
            case 2:
                if (document.querySelector('.product-collateral')) {
                    container = '.product-collateral';
                }
                break;
            case 3:
                if (document.querySelector('.product-collateral')) {
                    container = '.product-collateral';
                }
                break;
            case 4:
                if (document.querySelector('.product-img-box')) {
                  container = '.product-img-box';
                }
                break;
        }
      return container;
    }
</script>
